transformers==4.40.1
einops
peft==0.10.0
accelerate==0.27.2
bitsandbytes==0.40.2
loguru
deepspeed
jieba
fire
sentencepiece
tensorboard
tensorboardX
openpyxl
optimum
scipy
xformers==0.0.25.post1
flash-attn==2.5.6 --no-build-isolation
vllm==0.4.1
