transformers==4.41.2
einops
peft==0.11.1
accelerate==0.31.0
bitsandbytes==0.43.1
loguru
deepspeed
jieba
fire
sentencepiece
tensorboard
tensorboardX
openpyxl
optimum
scipy
xformers==0.0.26
flash-attn==2.5.9 --no-build-isolation
vllm==0.5.0
